<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>会員登録画面</title>
<link th:href="@{/css/registerstyle.css}" rel="stylesheet"/>
<link href="style.css" rel="stylesheet" media="all">
<link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>

</head>

<body>
<header>
  <h1>会員登録</h1>

</header>

<main id="contents">
<form id="entryForm" th:action="@{/confirm}" th:object="${user}"method="post" novalidate>


  <table class="entryTable" border="1">
    <caption>会員情報</caption>

    <tr>
      <th>名前 </th>
      <td><label for="name"></label>
      <input type="text" class="register-control"
      th:errorclass="is-invalid" th:field="*{name}">
       <div class="invalid-feedback" th:errors="*{name}">
            </div></td>
    </tr>

    <tr>
      <th>ニックネーム </th>
      <td><label for="nickname"></label>
      <input type="text" class="register-control"
      th:errorclass="is-invalid" th:field="*{nickname}">
       <div class="invalid-feedback" th:errors="*{nickname}">
            </div></td>
    </tr>

<tr>
      <th>パスワード </th>
      <td>
        <label for="password"></label>
      <input type="text" class="register-control"
      th:errorclass="is-invalid" th:field="*{password}">
       <div class="invalid-feedback" th:errors="*{password}">
            </div>
        <small>※半角英数</small>
      </td>
    </tr>

  </table>
  <div>
    <input type="reset" value="クリア">
    <input type="submit" value="登録">
  </div>
</form>

</main>
<a href="/">トップに戻る</a>

</body>
</html>